* {
    margin: 0;
    padding: 0;
}

html, body {
    height:100%;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 25px;
}

#footer {
    background-color: #f1f1f1;
    position: relative;
    height: 25px;
    margin-top: -25px;
    clear: both;
  }
